.body {
  font-family: $font-main;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.no-padding {
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 0px;
  }
}

.company-section {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
