.antenna::before {
  background-image: url(../images/antenna1.png);
}

.clock::before {
  background-image: url(../images/clock1.png);
}

.planning::before {
  background-image: url(../images/diagram1.png);
}

.astronaut::before {
  background-image: url(../images/astronaut1.png);
}
