.nav-mobile {
  display: block;
  position: relative;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.nav-mobile__top {
  display: flex;
  justify-content: space-between;
}

.button-mobile {
  display: inline-flex;
  margin: 0px;
  padding: 10px 0px;
  margin-right: 15px;
  border: none;
  background-color: transparent;

  &:hover {
    fill: $accent-color;
  }
}

.button-mobile .icon-cross {
  display: none;
}

.button-mobile.is-open .icon-cross {
  display: block;
}

.button-mobile.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background-color: $background-color;
  text-align: center;

  &.is-open {
    display: block;
    z-index: 2;
  }
}

.menu-list {
  padding-top: 65px;
  padding-bottom: 55px;
}

.menu-address {
  padding-bottom: 64px;
}
